<html>
    <head>
        <title>Requested Article</title>
    </head>
    <body>
        <article>
            <h1><%= article.title %></h1>
            <%- article.content %>
        </article>
    </body>
</html>
